server:
  port: 8083
spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/ratingservice
    username: postgres
    password: postgres

  jpa:
    hibernate:
      ddl-auto: update

    show-sql: true
  config:
    import: configserver:http://localhost:8085
  application:
    name: RATINGSERVICE

#eureka:
#  instance:
#    prefer-ip-address: true
#  client:
#    fetch-registry: true
#    service-url:
#      defaultZone: http://localhost:8761/eureka
